<div class="modal modal-xl fade align-items-middle" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="ticketModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if tickets %}
					{{tickets}}
				{% else %}
					<div class="text-center">
						There are no tickets.
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="modal modal-xl fade align-items-middle" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="site-settings-tab" data-bs-toggle="pill" data-bs-target="#site-settings" type="button" role="tab" aria-controls="site-settings" aria-selected="true">Site Settings</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="user-settings-tab" data-bs-toggle="pill" data-bs-target="#user-settings" type="button" role="tab" aria-controls="user-settings" aria-selected="false">User Settings</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="user-settings-tab" data-bs-toggle="pill" data-bs-target="#mail-settings" type="button" role="tab" aria-controls="mail-settings" aria-selected="false">Mail Settings</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="label-settings-tab" data-bs-toggle="pill" data-bs-target="#label-settings" type="button" role="tab" aria-controls="label-settings" aria-selected="false">Label Settings</button>
					</li>
				</ul>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="site-settings" role="tabpanel" aria-labelledby="site-settings-tab" tabindex="0">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="siteName" class="form-label">Site Name</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="siteName" value="{{settings.siteName}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="siteTitle" class="form-label">Site Title</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="siteTitle" value="{{settings.siteTitle}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="siteDescription" class="form-label">Site Description</label>
							</div>
							<div class="col-lg-10">
								<textarea class="form-control form-control-lg" id="siteDescription">{{settings.siteDescription}}</textarea>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="upsApiKey" class="form-label">UPS API Key</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="upsApiKey" value="{{settings.upsApiKey}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="fedexApiKey" class="form-label">FedEx API Key</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="fedexApiKey" value="{{settings.fedexApiKey}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="uspsApiKey" class="form-label">USPS API Key</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="uspsApiKey" value="{{settings.uspsApiKey}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label class="form-check-label" for="underConstruction">Under Construction</label>
							</div>
							<div class="col-lg-2">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="underConstruction" {% if settings.underConstruction %}checked{% endif %}>
								</div>
							</div>
							<div class="col-lg-2">
								<label class="form-check-label" for="requireCaptcha">Require Captcha</label>
							</div>
							<div class="col-lg-2">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="requireCaptcha" {% if settings.requireCaptcha %}checked{% endif %}>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="saveSettingsBtn" type="submit" class="btn btn-primary">Save Settings</button>
						</div>
					</div>
					<div class="tab-pane fade" id="user-settings" role="tabpanel" aria-labelledby="user-settings-tab" tabindex="0">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label class="form-check-label" for="showDashboardMessage">Show Dashboard Message</label>
							</div>
							<div class="col-lg-2">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="showDashboardMessage" {% if settings.showDashboardMessage %}checked{% endif %}>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="dashboardTitle" class="form-label">Dashboard Title</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="dashboardTitle" value="{{settings.dashboardTitle}}" {% if not settings.showDashboardMessage %}disabled{% endif %}>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="dashboardMessage" class="form-label">Dashboard Message</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="dashboardMessage" value="{{settings.dashboardMessage}}" {% if not settings.showDashboardMessage %}disabled{% endif %}>
							</div>
						</div>
						<div class="modal-footer">
							<button id="saveUserSettingsBtn" type="submit" class="btn btn-primary">Save Settings</button>
						</div>
					</div>
					<div class="tab-pane fade" id="mail-settings" role="tabpanel" aria-labelledby="mail-settings-tab" tabindex="0">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailSender" class="form-label">Email Sender</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailSender" value="{{settings.emailSender}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailSenderName" class="form-label">Email Sender Name</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailSenderName" value="{{settings.emailSenderName}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailUsername" class="form-label">Email Username</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailUsername" value="{{settings.emailUsername}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailPassword" class="form-label">Email Password</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailPassword" value="{{settings.emailPassword}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailHost" class="form-label">Email Host</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailHost" value="{{settings.emailHost}}">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-2">
								<label for="emailPort" class="form-label">Email Port</label>
							</div>
							<div class="col-lg-10">
								<input type="text" class="form-control form-control-lg" id="emailPort" value="{{settings.emailPort}}">
							</div>
						</div>
						<div class="modal-footer">
							<button id="saveEmailSettingsBtn" type="submit" class="btn btn-primary">Save Settings</button>
						</div>
					</div>
					<div class="tab-pane fade" id="label-settings" role="tabpanel" aria-labelledby="label-settings-tab" tabindex="0">
						<div class="lead">Nothing here yet..</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>