<nav class="navbar navbar-expand-lg fixed-top mainnav">
	<div class="container">
		<a id="logo" class="navbar-brand text-white" href="{{url_for('index')}}" hidden>{{settings.siteName}}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		{% if not session.loggedin %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<a id="mobileLogo" class="navbar-brand text-primary" href="{{url_for('index')}}">{{settings.siteName}}</a>
				</ul>
				<ul class="navbar-nav ms-auto">
					
					<button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn m-1 btn-outline-dark">Login</button>
					<button data-bs-toggle="modal" data-bs-target="#registerModal" class="btn m-1 btn-primary">Sign Up</button>
					
				</ul>
			</div>
		{% else %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<a id="mobileLogo" class="navbar-brand text-primary" href="{{url_for('index')}}">{{settings.siteName}}</a>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('dashboard')}}"><i class="fa fa-solid fa-fw fa-lg fa-home"></i> Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('order')}}"><i class="fa-solid fa-lg fa-cart-shopping"></i> Order Now</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('orders')}}"><i class="fa-solid fa-lg fa-list"></i> My Orders</a>
					</li>
					<li class="nav-item">
						<a data-bs-toggle="modal" data-bs-target="#depositModal" class="nav-link" href="#"><i class="fa-solid fa-lg fa-coins"></i> Deposit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('templates')}}"><i class="fa-solid fa-lg fa-mail-bulk"></i> Templates</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa-solid fa-lg fa-circle-question"></i> FAQ</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto align-items-center">
					{% if user.admin %}
					<li class="nav-item m-1">
						<a class="nav-link" href="{{url_for('admin')}}"><i class="fa-regular fa-folder-gear"></i> Admin Panel</a>
					</li>
					{% endif %}
					<div class="nav-item" data-bs-toggle="tooltip" title="Balance">
						<h2 class="mb-0">
						<span class="navBalance d-flex">
							${% if user.balance %}{{user.balance}}{% else %}0.00{% endif %}
						</span>
						</h2>
					</div>
					<div class="nav-item">
						<a href="#" class="avatar avatar-sm">
							<img src="/static/images/default.png" alt="Avatar" class="rounded-circle">
						</a>
					</div>
					<div class="nav-item align-self-center logoutBtn">
						<a href="{{url_for('logout')}}">
							<i class="fa-solid p-2 fa-lg fa-sign-out-alt"></i>
						</a>
					</div>
				</ul>
			</div>
		{% endif %}
	</div>
</nav>