<div class="modal fade align-items-middle" id="viewerModal" tabindex="-1" aria-labelledby="viewerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="viewerModalLabel">Login</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="viewerBody" class="modal-body">
				<img id="viewImage" src="" class="img-fluid">
			</div>
		</div>
	</div>
</div>