#hero {
	background: var(--bs-body-bg);
	min-height: 80vh;
	h1 {
		// color: $blue-700 !important;
	}
	img {
		width: 100%;
	}
}

#herocontainer {
	padding: 0;
}

#testing {
	background-color: $blue-700 !important;
}

#testing {
	min-height: 200px;
	background-color: var(--c-bg-light);
}

.custom-shape-divider-bottom-1674786141 {
    position: absolute;
    bottom: 184px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674786141 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1674786141 .shape-fill {
    fill: #3D0A91;
}


.ONE {
	background-color: $blue-100;
}
.TWO {
	background-color: $blue-200;
}
.THREE {
	background-color: $blue-300;
}
.FOUR {
	background-color: $blue-400;
}
.FIVE {
	background-color: $blue-500;
}
.SIX {
	background-color: $blue-600;
}
.SEVEN {
	background-color: $blue-700;
}
.EIGHT {
	background-color: $blue-800;
}
.NINE {
	background-color: $blue-900;
}