{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
	<style>
		.mainnav, #footer {
			display: none;
		}
	</style>
	<section id="sidebar">
		<div class="sidenav d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<span class="fs-4">{{settings.siteName}}</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li>
					<a href="{{url_for('admin')}}" class="nav-link text-white">
						<i class="fa-solid fa-house"></i>
						Home
					</a>
				</li>
				<li>
					<a href="{{url_for('tickets')}}" class="nav-link text-white">
						<i class="fa-solid fa-envelope"></i>
						Tickets
					</a>
				</li>
				<li>
					<a href="{{url_for('members')}}" class="nav-link text-white">
						<i class="fa-solid fa-user"></i>
						Members
					</a>
				</li>
				<li>
					<a href="{{url_for('adminOrders')}}" class="nav-link text-white">
						<i class="fa-solid fa-list"></i>
						Orders
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<i class="fa-solid fa-coins"></i>
						Transactions
					</a>
				</li>
				<li>
					<a href="#" data-bs-toggle="modal" data-bs-target="#settingsModal" class="nav-link text-white">
						<i class="fa-solid fa-gear"></i>
						Settings
					</a>
				</li>
			</ul>
			<hr>
		</div>
	</section>
	<section id="admin">
		{% block admincontent %}
		{% endblock %}
	</section>
	{% include 'admin/modules/adminmodals.html' %}
	<script type="text/javascript" src="../static/js/admin.js"></script>
{% endblock %}