{% extends "admin/admin.html" %}
{% block admincontent %}
	<table id="adminUsersTable" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Balance</th>
				<th>Joined</th>
				<th>Discord</th>
				<th>Telegram</th>
				<th>Banned</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for member in members %}
				<tr>
					<td>{{member.id}}</td>
					<td>{{member.email}}</td>
					<td>
						{% if member.balance %}
							{{ member.balance }}
						{% else %}
							0
						{% endif %}
					</td>
					<td>{{member.joined}}</td>
					<td>{{member.discord}}</td>
					<td>{{member.telegram}}</td>
					<td>{% if member.banned %}True{% else %}False{% endif %}</td>
					<td>
						{% if member.banned %}
							<button type="button" onclick='if (confirm("Are you sure you want to unban {{member.email}}")) {location.href="{{url_for('adminUnbanAccount', id=member.id)}}";}' class="btn btn-primary">Unban</button>
						{% else %}
							<button type="button" onclick='if (confirm("Are you sure you want to ban {{member.email}}")) {location.href="{{url_for('adminBanAccount', id=member.id)}}";}' class="btn btn-primary">Ban</button>
						{% endif %}
						<button type="button" onclick='if (confirm("Are you sure you want to delete {{member.email}}")) {location.href="{{url_for('adminDeleteAccount', id=member.id)}}";}' class="btn btn-danger">Delete</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}