{% extends "admin/admin.html" %}
{% block admincontent %}
	<section id="adminOrders">
		<div class="card">
			<table id="adminOrderTable" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>OrderID</th>
						<th>Owner ID</th>
						<th>Tracking #</th>
						<th>Created</th>
						<th>Label</th>
						<th>Receipt</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						<tr>
							<td>{{order.orderId}}</td>
							<td>{{order.ownerId}}</td>
							<td>{{order.tracking}}</td>
							<td>
								<div class="d-flex">
									{{order.created.strftime('%d-%m-%Y')}}
									{{order.created.strftime('%H:%M:%S')}}
									
								</div>
							</td>
							<td>
								<a onclick="setupAdminViewModal('View Label', '{{order.label}}')" class="btn btn-primary" href="#" role="button">View</a>
							</td>
							<td>
								{% if order.receipt %}
									<a onclick="setupAdminViewModal('View Receipt', '{{order.receipt}}')" class="btn btn-primary" href="#" role="button">View</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	{% include 'modules/viewLabel.html' %}
{% endblock %}